
$breakpoint-xlg = 1920px
$breakpoint-lg = 1440px
$breakpoint-md = 1200px
$breakpoint-sm = 992px
$breakpoint-xs = 768px
$breakpoint-xxs = 480px

$color-theme = #669999

$color-text-on-dark = #fafafa

$header-height = 10.5rem  /* 165/16 */
$sidebar-width = 19.75rem  /* 315/16 */

$border-radius-sm = 0.5rem
$border-radius-md = 1rem

$transition-speed = 0.4s

@import '_mixins'